.back1 {
    min-height: 100vh;
    background-image: url("../images/Rectangle\ 2.png");
    background-repeat: no-repeat;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}
.card {
    max-width: 400px;
    background-color: #fff;
    border-radius: 5px;
}